@import './variables';
@import './mixin';

.header {
    @include contentMargin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header-content {
        align-self: center;
        padding-right: 10px;
        h1 {
            @include fontStyle($headingFontFamily, bold);
            line-height: 1.5;
            margin: auto;
        }

        p {
            @include fontStyle($bodyFontFamily, $fontWeight400);
        }

        input[type=email] {
            width: 210px;
            padding: 10px 15px;
            border: 0.5px solid $veryDarkBlue;
            border-radius: 2.5px;
        }

        input::placeholder {
            color: $lightGray;
        }

        input[type=submit] {
            width: 150px;
            padding: 10px 15px;
            margin-left: 5px;
            background-color: $brightBlue;
            color: $lightGrayishBlue;
            border-radius: 2.5px;
            border: transparent;
        }
    }
}