@import './variables';
@import './mixin';

.header {
    @include contentMargin;
    display: flex;
    justify-content: space-between;

    .header-left {
        align-self: center;
        width: 45%;
        max-width: 45vmax;
        padding-right: 5%;

        h1 {
            @include fontStyle($headingFontFamily, $fontWeight700);
            line-height: 1.5;
            margin: auto;
        }

        p {
            @include fontStyle($bodyFontFamily, $fontWeight400);
        }

        .header-email{
            width: auto;
            display: flex;
            flex-flow: row;
            input[type=email] {
                width: 50%;
                max-width: 45vmax;
                padding: 10px 13px;
                border: 1px solid $veryDarkBlue;
                border-radius: 2.5px;
            }
    
            input::placeholder {
                color: $lightGray;
            }
    
            input[type=submit] {
                width: 35%;
                max-width: 50vmax;
                padding: 10px 13px;
                margin-left: 2.5%;
                background-color: $brightBlue;
                color: $lightGrayishBlue;
                border-radius: 2.5px;
                border: transparent;
                @include fontStyle($headingFontFamily, $fontWeight400);
            }
        }
    }

    .header-right{
        width: 50%;
        max-width: 45vmax;
        display: flex;

        .header-illustrator{
            width: 100%;
            align-self: center;
        }
    }
}


@media screen and (min-width: 1440px) {
    
}

@media screen and (max-width: 375px), (max-width: 640px) {
    .header{
        flex-flow: column;

        .header-right{
            flex: 1;
            order: 1;
            width: 100%;
            max-width: 50vmax;
            margin: 10% auto;
        }

        .header-left{
            flex: 2;
            order: 2;
            width: auto;
            max-width: 50vmax;
            text-align: center;
            margin: auto;
            padding-right: 0;
            h1{
                font-size: 18pt;
            }
            p{
                font-size: 11pt;
                line-height: 1.5;
            }

            .header-email{
                width: auto;
                flex-flow: column;

                input[type=email] {
                    width: auto;
                    margin: 5% 0;
                }
        
                input::placeholder {
                    color: $lightGray;
                }
        
                input[type=submit] {
                    width: auto;
                    margin-left: 0;
                }
            }
        }
    }
}
