@import './variables';

// fontstyles
@mixin fontStyle($family, $weight) {
    font-family: $family;
    font-weight: $weight;
}

// margin for a container
@mixin contentMargin {
    width: auto;
    padding: 8% 5%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

// section heading
@mixin sectionHeading {
    @include fontStyle($headingFontFamily, $fontWeight700);
    line-height: 1.5;
    font-size: 2.5em;
    font-size-adjust: initial;
    color: $veryDarkBlue;
    margin: auto;
    width: 100%;
    word-spacing: 1px;
}
// section paragraph
@mixin sectionParagraph{
    @include fontStyle($bodyFontFamily, $fontWeight400);
    line-height: 1.5;
}

@mixin  columnContainer {
    align-self: center;
    width: 100%;
    max-width: 50vmax;
}

@mixin illustratorStyle {
    width: 100%;
    .illustrators{
        width: 100%;
        align-self: center;
    }
}