@import './variables';

@mixin fontStyle($family, $weight) {
    font-family: $family;
    font-weight: $weight;
}

@mixin contentMargin {
    width: auto;
    padding: 5%;
}

@mixin sectionParagraph{
    @include fontStyle($bodyFontFamily, $fontWeight400);
}

@mixin illustratorStyle {
    width: 35em;
    max-width: 45vmax;
    display: flex;
    
    .illustrators{
        width: 100%;
        max-width: 50vmax;
        align-self: center;
    }
}