@import './variables';
@import './mixin';

.nav {
    
    .container{
        @include contentMargin;
        padding: 5%;
        display: flex;
        justify-content: space-between;

        img {
            align-self: center;
            height: 50px;
        }

        nav {
            display: flex;
            @include sectionParagraph;

            ul {
                padding: 0px;

                li {
                    display: inline;
                    padding-left: 50px;
                }
            }
        }
    }
}

// desktop and mobile responsiveness
@media screen and (max-width: 1440px) {}

@media screen and (max-width: 375px), (max-width: 640px) {

    .nav {
        .container{
            display: flex;

            img {
                align-self: center;
                height: 25px;
            }

            nav {
                width: 100%;
                font-size: 14px;
                flex-flow: row;
                align-self: center;

                ul {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    li {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}