@import './variables';
@import './mixin';

.nav {
    @include contentMargin;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-between;

    img {
        align-self: center;
        height: 40px;
    }

    nav {
        display: flex;
        font-family: $bodyFontFamily;
        font-size: 16px;

        ul {
            padding: 0px;

            li {
                display: inline;
                padding-left: 50px;
            }
        }
    }
}

// desktop and mobile responsiveness
@media screen and (max-width: 1440px) {}

@media screen and (max-width: 375px), (max-width: 640px) {

    .nav {
        display: flex;
        justify-content: stretch;

        img {
            align-self: center;
            height: 25px;
        }

        nav {
            width: 100%;
            font-size: 11px;
            display: flex;
            flex-flow: row;
            align-self: center;
            justify-content: flex-end;

            ul {
                width: 100%;

                li {
                    padding: 0 10px;
                }
            }
        }
    }
}