@import './variables';
@import './mixin';

.desktop-curve {
    height: 100%;
    width: 100%;
    margin: 5% 0;
}

.section {
    margin-top: -6%;
    background-color: $lightGrayishBlue;

    .container {

        @include contentMargin;

        .col-left {
            @include columnContainer;

            h2 {
                @include sectionHeading;
            }

            p {
                @include sectionParagraph;
                width: 80%;
            }

            .link {
                @include fontStyle($bodyFontFamily, $fontWeight400);
                border-bottom: 1px solid $moderateCyan;

                a {
                    color: $moderateCyan;
                    text-decoration: none;
                }
            }

            .testimonial {
                width: 40%;
                max-width: 40vmax;
                padding: 3.5% 5%;
                margin-top: 5%;
                background-color: #ffffff;
                border-radius: 5px;
                -webkit-box-shadow: 0px 0px 15px -10px $desaturatedBlue;
                -moz-box-shadow: 0px 0px 15px -10px $desaturatedBlue;
                box-shadow: 0px 0px 15px -10px $desaturatedBlue;

                p {
                    font-size: 10pt;
                    line-height: 2;
                    margin: 0;
                    width: auto;
                }

                .author {
                    display: flex;
                    padding-top: 10px;

                    img {
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                    }

                    .name {
                        margin: auto 0;
                        padding-left: 5px;

                        p {
                            line-height: 1.5;
                        }

                        p:first-child {
                            font-weight: bold;
                            font-size: 11px;
                        }

                        p:nth-child(2) {
                            font-size: 9.5px;
                        }
                    }

                }
            }
        }

        .col-right {
            @include columnContainer;
            @include illustratorStyle;
            max-width: 35vmax;
        }
    }

}

@media screen and (max-width: 375px),
(max-width: 640px) {
    .section {
        .container {
            flex-flow: column;
            margin: auto;
            padding-left: 0;
            padding-right: 0;

            .col-left {
                flex: 2;
                order: 2;
                width: 100%;
                text-align: center;
                margin: auto;
                padding-right: 0;
                margin-bottom: 25%;

                h2 {
                    font-size: 13pt;
                }

                p {
                    font-size: 10.8pt;
                    width: auto;
                    line-height: 1.5;
                }

                .link {
                    font-size: 10pt;
                }

                .testimonial {
                    margin: 3em auto auto auto;
                    width: auto;
                    text-align: left;
                    padding: 5%;

                    p {
                        font-size: 9pt;
                        line-height: 1.8;
                        margin: 0;
                        width: 100%;
                    }
                }
            }

            .col-right {
                flex: 1;
                order: 1;
                width: 100%;
                max-width: 45vmax;
                margin: 10% auto;
            }
        }
    }
}