@import './variables';
@import './mixin';

.subscription {
    background-color: $desaturatedBlue;
    color: $lightGrayishBlue;

    .container {

        @include contentMargin;

        .col-left {
            @include columnContainer;

            h3 {
                @include sectionHeading;
                font-size: 2em;
                color: $lightGrayishBlue;
            }

            p {
                @include sectionParagraph;
                width: 90%;
                word-spacing: 1px;
            }
        }

        .col-right {
            @include columnContainer;

            input[type=email] {
                width: 100%;
                max-width: 50vmin;
                padding: 15px;
                border: 1px solid $veryDarkBlue;
                border-radius: 2.5px;
                margin-bottom: 10px;
            }

            input::placeholder {
                color: $lightGray;
                padding: 1em;
            }

            input[type=submit] {
                width: 50%;
                padding: 1em;
                background-color: $brightBlue;
                color: $lightGrayishBlue;
                border-radius: 2.5px;
                border: transparent;
            }
        }
    }
}

@media only screen and (width: 768px){
    .subscription{
        .container{
            .col-left{
                h3{
                    font-size: 18pt;
                }
            }
            .col-right{
                input[type=email] {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 375px),
(max-width: 640px) {
    .subscription {
        .container {
            flex-flow: column;
            text-align: center;

            .col-left {
                margin-top: 10%;

                h3 {
                    font-size: 14pt;
                }

                p {
                    font-size: 11pt;
                    line-height: 1.5;
                }
            }

            .col-right {
                margin-bottom: 10%;
                width: 80%;
                display: flex;
                flex-flow: column;

                input[type=email] {
                    width: auto;
                    max-width: none;
                }

                input[type=submit] {
                    width: auto;
                }
            }
        }
    }
}