@import './variables';
@import './mixin';

.subscription{
    background-color: $desaturatedBlue;
    color: $lightGrayishBlue;
    display: flex;
    padding: 2% 0;

    .left {
        align-self: center;
        @include contentMargin;
        width: 50%;
        
        h3{
            letter-spacing: 1px;
            font-size: 24px;
            @include fontStyle($headingFontFamily, bold);
        }
        
        p{
            @include sectionParagraph;
            line-height: 1.5;
        }
    }

    .right{
        align-self: center;
        @include contentMargin;
        width: 50%;
        
        input[type=email] {
            width: 100%;
            padding: 1em 0;
            border: 0.5px solid $veryDarkBlue;
            border-radius: 2.5px;
            margin-bottom: 10px;
        }

        input::placeholder {
            color: $lightGray;
            padding: 1em;
        }

        input[type=submit] {
            width: 40%;
            padding: 1em;
            background-color: $brightBlue;
            color: $lightGrayishBlue;
            border-radius: 2.5px;
            border: transparent;
        }
    }
}