.nav {
  width: auto;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  margin-bottom: 0%;
  margin: auto;
  max-width: 1440px;
}

.nav img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50px;
}

.nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.nav nav ul {
  padding: 0px;
}

.nav nav ul li {
  display: inline;
  padding-left: 50px;
}

@media screen and (max-width: 375px), (max-width: 640px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 25px;
  }
  .nav nav {
    width: 100%;
    font-size: 14px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .nav nav ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav nav ul li {
    padding: 0 10px;
  }
}

.header {
  width: auto;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  margin: auto;
  max-width: 1440px;
}

.header .header-left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  max-width: 50vmax;
}

.header .header-left h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin: auto;
  font-size: 2.5em;
  color: #070439;
}

.header .header-left p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.header .header-left .header-email {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.header .header-left .header-email input[type=email] {
  width: 50%;
  max-width: 45vmax;
  padding: 10px 13px;
  border: 1px solid #070439;
  border-radius: 2.5px;
}

.header .header-left .header-email input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.header .header-left .header-email input:-ms-input-placeholder {
  color: #bfbfbf;
}

.header .header-left .header-email input::-ms-input-placeholder {
  color: #bfbfbf;
}

.header .header-left .header-email input::placeholder {
  color: #bfbfbf;
}

.header .header-left .header-email input[type=submit] {
  width: 35%;
  max-width: 50vmax;
  padding: 10px 13px;
  margin-left: 2.5%;
  background-color: #3065f8;
  color: #f6f6fe;
  border-radius: 2.5px;
  border: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.header .header-right {
  width: 35em;
  max-width: 45vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-right .illustrators {
  width: 100%;
  max-width: 50vmax;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 375px), (max-width: 640px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .header .header-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    max-width: 45vmax;
    margin: 10% auto;
  }
  .header .header-left {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: auto;
    text-align: center;
    margin: auto;
    padding-right: 0;
    margin-bottom: 25%;
  }
  .header .header-left h1 {
    font-size: 18pt;
  }
  .header .header-left p {
    line-height: 1.5;
  }
  .header .header-left .header-email {
    width: 100%;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .header .header-left .header-email input[type=email] {
    width: auto;
    margin: 5% 0;
  }
  .header .header-left .header-email input::-webkit-input-placeholder {
    color: #bfbfbf;
  }
  .header .header-left .header-email input:-ms-input-placeholder {
    color: #bfbfbf;
  }
  .header .header-left .header-email input::-ms-input-placeholder {
    color: #bfbfbf;
  }
  .header .header-left .header-email input::placeholder {
    color: #bfbfbf;
  }
  .header .header-left .header-email input[type=submit] {
    width: auto;
    margin-left: 0;
  }
}

.desktop-curve {
  height: 100%;
  width: 100%;
  margin: 5% 0;
}

.section {
  width: 100%;
  margin-top: -6%;
  background-color: #f6f6fe;
}

.section .contents {
  width: auto;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10%;
  width: auto;
  margin: auto;
  max-width: 1440px;
}

.section .contents .section-left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: auto;
  max-width: 50vmax;
  padding-right: 5%;
}

.section .contents .section-left h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.5;
  margin: auto;
}

.section .contents .section-left p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.section .contents .section-left .link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #3c9f8f;
}

.section .contents .section-left .link a {
  color: #3c9f8f;
  text-decoration: none;
}

.section .contents .section-left .testimonial {
  width: 42%;
  max-width: 40vmax;
  padding: 3.5% 5%;
  margin-top: 5%;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px -10px #585989;
  box-shadow: 0px 0px 15px -10px #585989;
}

.section .contents .section-left .testimonial p {
  font-size: 11px;
  line-height: 2;
  margin: 0;
}

.section .contents .section-left .testimonial .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.section .contents .section-left .testimonial .author img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.section .contents .section-left .testimonial .author .name {
  margin: auto 0;
  padding-left: 5px;
}

.section .contents .section-left .testimonial .author .name p {
  line-height: 1.5;
}

.section .contents .section-left .testimonial .author .name p:first-child {
  font-weight: bold;
  font-size: 10px;
}

.section .contents .section-left .testimonial .author .name p:nth-child(2) {
  font-size: 8px;
}

.section .contents .section-right {
  width: 35em;
  max-width: 45vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .contents .section-right .illustrators {
  width: 100%;
  max-width: 50vmax;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 375px), (max-width: 640px) {
  .section .contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .section .contents .section-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    max-width: 45vmax;
    margin: 10% auto;
  }
  .section .contents .section-left {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: auto;
    text-align: center;
    margin: auto;
    padding-right: 0;
    margin-bottom: 25%;
  }
  .section .contents .section-left h2 {
    font-size: 12pt;
  }
  .section .contents .section-left p {
    line-height: 1.5;
  }
  .section .contents .section-left .link {
    font-size: 10pt;
  }
  .section .contents .section-left .testimonial {
    margin: 3em auto auto auto;
    width: 100%;
    text-align: left;
  }
}

.subscription {
  background-color: #585989;
  color: #f6f6fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 5%;
}

.subscription .left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  max-width: 50vmax;
}

.subscription .left h3 {
  letter-spacing: 1px;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.subscription .left p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.subscription .right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: auto;
  padding: 5%;
  width: 50%;
  max-width: 50vmax;
}

.subscription .right input[type=email] {
  width: 100%;
  max-width: 50vmax;
  padding: 15px 5px;
  border: 1px solid #070439;
  border-radius: 2.5px;
  margin-bottom: 10px;
}

.subscription .right input::-webkit-input-placeholder {
  color: #bfbfbf;
  padding: 1em;
}

.subscription .right input:-ms-input-placeholder {
  color: #bfbfbf;
  padding: 1em;
}

.subscription .right input::-ms-input-placeholder {
  color: #bfbfbf;
  padding: 1em;
}

.subscription .right input::placeholder {
  color: #bfbfbf;
  padding: 1em;
}

.subscription .right input[type=submit] {
  width: 40%;
  padding: 1em;
  background-color: #3065f8;
  color: #f6f6fe;
  border-radius: 2.5px;
  border: transparent;
}

@media screen and (max-width: 375px), (max-width: 640px) {
  .subscription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }
  .subscription .left, .subscription .right {
    width: 100%;
    max-width: 45vmax;
  }
  .subscription .left {
    margin-top: 10%;
  }
  .subscription .left h3 {
    font-size: 12pt;
  }
  .subscription .right {
    margin-bottom: 10%;
  }
  .subscription .right p {
    line-height: 1.5;
  }
  .subscription .right input[type=submit] {
    width: 100%;
  }
}

.footer {
  width: auto;
  padding: 5%;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #070439;
  color: #f6f6fe;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 10pt;
}

.footer .footer-logo img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 40px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer .footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin-left: 0;
}

.footer .footer-contents .col-1 {
  line-height: 35px;
  margin: 20px 0;
}

.footer .footer-contents .col-1 img {
  margin-right: 15px;
}

.footer .footer-contents .fab {
  padding: 8px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 5px;
}

.footer .attribution {
  padding-top: 2em;
  font-size: 10pt;
}

.footer .attribution a {
  text-decoration: none;
  color: #f6f6fe;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 375px), (max-width: 640px) {
  .footer {
    width: auto;
    padding: 10%;
  }
  .footer .footer-contents {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .footer .footer-contents .col-4 {
    margin: auto;
  }
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */