.nav {
  width: auto;
  padding: 2% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 45px;
}

.nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.nav nav ul {
  padding: 0px;
}

.nav nav ul li {
  display: inline;
  padding-left: 50px;
}

@media screen and (max-width: 375px) {
  .nav {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  .nav img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 25px;
  }
  .nav nav {
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav nav ul {
    width: 100%;
  }
  .nav nav ul li {
    padding: 0 10px;
  }
}

.header {
  width: auto;
  padding: 2% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 10px;
}

.header .header-content h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  margin: auto;
}

.header .header-content p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.header .header-content input[type=email] {
  width: 210px;
  padding: 10px 15px;
  border: 0.5px solid #070439;
  border-radius: 2.5px;
}

.header .header-content input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.header .header-content input:-ms-input-placeholder {
  color: #bfbfbf;
}

.header .header-content input::-ms-input-placeholder {
  color: #bfbfbf;
}

.header .header-content input::placeholder {
  color: #bfbfbf;
}

.header .header-content input[type=submit] {
  width: 150px;
  padding: 10px 15px;
  margin-left: 5px;
  background-color: #3065f8;
  color: #f6f6fe;
  border-radius: 2.5px;
  border: transparent;
}

.section {
  margin-top: 5%;
}

.section .desktop-curve {
  height: 100%;
  width: 100%;
  margin: -5px 0;
}

.section .contents {
  width: auto;
  padding: 2% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f6f6fe;
  padding-bottom: 5%;
}

.section .contents .section-contents {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section .contents .section-contents h2 {
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.section .contents .section-contents p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.section .contents .section-contents .link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #3c9f8f;
}

.section .contents .section-contents .link a {
  color: #3c9f8f;
  text-decoration: none;
}

.section .contents .section-contents .testimonial {
  width: 40%;
  padding: 2.5%;
  margin-top: 5%;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px -10px #585989;
  box-shadow: 0px 0px 15px -10px #585989;
}

.section .contents .section-contents .testimonial p {
  font-size: 11px;
  line-height: 2;
}

.section .contents .section-contents .testimonial .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .contents .section-contents .testimonial .author img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.section .contents .section-contents .testimonial .author .name {
  padding-left: 5px;
}

.section .contents .section-contents .testimonial .author .name p {
  line-height: 0.2;
}

.section .contents .section-contents .testimonial .author .name p:first-child {
  font-weight: bold;
  font-size: 10px;
}

.section .contents .section-contents .testimonial .author .name p:nth-child(2) {
  font-size: 8px;
}

.section .contents .illustrator2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 5%;
  width: 500px;
}

body {
  margin: 0;
}

.illustrators {
  width: 600px;
}
/*# sourceMappingURL=style.css.map */